.container-p{
    display:inline-block;
    
}
.profile{
    display: flex;
    gap:10px
}


.picon{
    width:20px;
    height:20px;
    padding-top:30px;
    cursor: pointer;
    
}
.dropdown{
    width:10px;
    height:20px;
    padding-top:30px;
}

.profile p{
    letter-spacing: 3px;
    color: #F2f3f6;
    padding-top:12px;
    font-weight: lighter;
}
.dropdown-content{
    background: #67eb24;
    position: relative;
    bottom:10px;
    z-index: 1;
    border-radius: 2px;
   
}
.dropdown-content a{
    text-decoration: none;
}
.dropdown-content p{
    color:#1A1B27;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
    padding-left:10px;
    font-weight: 600;
}
.proflink{
    display: flex;
    gap:20px
}
.proflink:hover{
    background-color: #3f3f52;
}

.logout{
    display: flex;
    gap:15px
}
.logout:hover{
    background-color: #3f3f52;


}

@media (max-width:768px) {
    .profile{
        display: flex;
        gap:10px;
        position: relative;
        left:-65px;
        padding-top:3px
    }
}
@media (width:1124px) {
    .profile p{
        display: none;
    }
    .profile{
        display: flex;
        gap:10px;
        position: relative;
        left:-49px;
        padding-top:3px
    }
    .dropdown-content{
        background: #67eb24;
        position: relative;
        bottom:-5px;
        z-index: 1;
        border-radius: 2px;
        left: -68px;

       
    }
    .proflink{
        display: flex;
        gap:10px
    }
    .logout{
        display: flex;
        gap:5px
    }
}