.Latest {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -330px
}

.container {
    padding: 2px 16px;
}

.card {
    width: 27%;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 227px;
}

.container h4 {
    color: #1A1B27;
    font-family: 'Montserrat', sans-serif;

}

.container p {
    color: #1A1B27;
    line-height: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    

}

.icons {
    display: flex;
    gap: 80px
}

.icons img {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.icons p {
    color: #1A1B27;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}
.bed{
    display: flex;
    gap:5px
}
.bath{
    display: flex;
    gap:5px
}

@media (max-width:768px) {
    .card {
        width: 50%;
        margin-bottom: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
}
