.Contact {
    background-color: #F2f3f6;
}

.Contact-head p {
    padding-left: 38%;
    color: #1A1B27;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: 0px;
    padding-top: 2%;

}

.Contact-head h4 {
    display: block;
    color: #60d227;
    font-family: 'Montserrat', sans-serif;
    margin-left: 420px;
}

.contact_cards {
    display: block;
    gap: 20px;
    margin-left: 420px;
    width: 1500px;

}

.contact_cards img {
    width: 40px
}

.contact_cards span {
    display: flex;
    gap: 50px;
}

.desc1 {
    margin-left: 90px;
    color: #1A1B27;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    width: 27%;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;

}

.icon:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    color: #1A1B27;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

@media (max-width:768px) {
    .Contact-head h4 {
        display: none;
    }

    .contact_cards {
        display: flex;
        gap: 1px;
        margin-left: -200px;
        padding-top: 200px;
    }

    .Contact-head p {
        color: #1A1B27;
    }
    .desc1 {
        margin-left: 10px;
        color: #1A1B27;
        font-family: 'Montserrat', sans-serif;
    }
    .contact_cards span {
        display: flex;
        gap: 10px;
    }
}