
.Home {
    background-color: #F2f3f6;
}

.left {
    background: #1A1B27;
    width: 40%;
    height: 400px;


}

.left p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 80px;
    font-size: 30px;
    line-height: 60px;
    justify-content: center;

}

.left button {
    position: relative;
    left: 80px;
    bottom: 100px;
    background: #67eb24;
    font-family: 'Montserrat', sans-serif;
    color: #1A1B27;
    border-radius: 10px;
    font-weight: 700;
    width: 150px;
    height: 30px;
    font-size: 16px;
    box-shadow: 2px 2px 2px #8bd565;
    border: solid #b0de98;
    cursor: pointer;

}

.right {
    position: relative;
    left: 500px;
    bottom: 400px
}

.right img {
    width: 60.5%;
    height: 400px;

}

.home-down {
    background-color: #F2f3f6;
}

.latest-all {
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 400px;
    padding-top: 90px;
    padding-left: 90px;
}

.latest-head {
    border: #1A1B27;
    display: flex;
    gap: 20px;

}

.latest-desc {
    display: flex;
    gap: 60px
}

.latest-desc img {
    height: 30px;
    padding-top: 10px
}

.latest-head hr {
    color: #1A1B27;
    border-radius: 10px;
}

.text {

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;

}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

}

.latest-head img {
    width: 50px;
}
 
@media (max-width:768px) {
    
    .left {
        background: #1A1B27;
        width: 50%;
        height: 450px;
    }
    .right {
        position: relative;
        left: 370px;
        bottom: 450px
    }
    
    .right img {
        width: 50%;
        height: 450px;
    
    }
}

@media (width:1124px) {
    .right {
        position: relative;
        left: 430px;
        bottom: 400px
    }
    
    .right img {
        width: 62%;
        height: 400px;
    
    }
}