@media (max-width:768px) {
    
    .toggle{
        display:block !important;
        position: relative;
        left:-30px;
        bottom:-20px
    }
    .toggle li{
        list-style-type: none;
        color: #F2f3f6;
    }
    .toggle hr{
        width:20px;
        height: 2px;
        background-color: #F2f3f6;
    }
    .sidebar{
        display: block !important;
        background:#1A1B27 ;
        width:400px;
        height: 535px;
        z-index: 1;
        position: relative;
        left:-800px
    }
    .side_links a{
        text-decoration: none;
        color: #F2f3f6;
        cursor: pointer;
    
    }
    .side_links a:hover{
        color:#67eb24;
    }
    .side_links ul{
        list-style-type: none;
        padding-top: 70px;
        line-height: 80px;
        padding-right: 50px;
    }
    .home{
        display: flex;
        gap:10px
    }
    .list{
        display: flex;
        gap:10px
    }
    .about{
        display: flex;
        gap:10px
    }
    .Contact{
        display: flex;
        gap:10px
    }
}
.toggle{
    display: none;
}

.sidebar{
    display: none;
}
